* {
    box-sizing: border-box;
}

body {
    background: url(../img/12_col.gif) center top repeat-y;
    background-size: 90%;
}

.header,
.footer,
.box1,
.box2,
.box3,
.footer1,
.footer2,
.footer3,
.footer4 {
    border: 1px solid #EE8070;
    height: 100px;
    padding: 10px;
}

.header {
    background-color: #DD364C;
    grid-area: header;
    height: 70px;
}

.header-flex {
    display: flex;
    justify-content: start;
    align-items: center;
}

button {
    font-size: 10px;
    margin: 5px;
    height: 15px;
}

.header-flex>.button4 {
    margin-left: auto;
}

.main {
    grid-area: content;
    display: grid;
}

.sidebar {
    grid-area: sidebar;
    background-color: #F9D6C0;
    /* height: 150px; */
    border: 1px solid #EE8070;
}

.sidebar-flex {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    flex-grow: 1;
}

.boxes {
    grid-template-columns: [box1] 15% [box2] auto [box3] 15% [end];
    grid-area: boxes;
    display: grid;
    gap: 2%;
}

.footer>section {
    background-color: #faa699;
}

.footer {
    grid-template-columns: repeat(4, 1fr);
    grid-area: footer;
    display: grid;
    gap: 2%;
    padding: 0.5%;
    height: 112px;
}

.container {
    width: 89%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "header header header header " "boxes boxes boxes boxes" "content content content sidebar " "footer footer footer footer";
    gap: 2%;
}

.content-container-flex {
    /* height: 150px; */
    border: 1px solid #EE8070;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    background-color: #F9D6C0;
    flex-grow: 1;
}

.main>section {
    width: 265px;
    height: 65px;
    margin: 5px;
    border: 1px solid #EE8070;
    background-color: #F9D6C0;
}

.content-flex {
    flex: 1 1 auto;
}


/* Breda desktopskärmar */

@media screen and (max-width: 960px) {
    .boxes {
        grid-template-columns: [box1] 23% [box2] auto [box3] 23% [end];
    }
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "header header header " "boxes boxes boxes" "content content sidebar " "footer footer footer";
    }
}


/* Tablets såsom Ipad */

@media screen and (max-width: 768px) {
    .boxes {
        grid-template-columns: repeat(3, 1fr);
    }
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "header header " "boxes boxes " "content sidebar " "footer footer";
    }
    .footer {
        grid-template-columns: repeat(2, 1fr);
        height: 210px;
    }
}


/* Mobiltelefoner */

@media screen and (max-width: 600px) {
    .boxes {
        grid-template-columns: repeat(1, 1fr);
    }
    .container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "header " "boxes " "content" " sidebar " "footer";
    }
    .footer {
        grid-template-columns: repeat(1, 1fr);
        height: 440px;
    }
}